@using LMS.Models;
@using LMS.ViewModels;

@model LMS.Models.schemaOccasion


@{
    ViewBag.Title = "Details";

    //if (null!=ViewBag.Fil)
    var fil = (LMS.Models.Fil)ViewBag.Fil;
    var filer = (List<string>)ViewBag.filer;

    
    var stasks = (List<StudentsTaskList>)ViewBag.stasks;
    
    //var students = (List<User>)ViewBag.students;
    
    }
<script src="/Scripts/jquery-2.2.0.js"></script>
<script src="/Scripts/jquery-ui-1.11.4.js"></script>

        <h2>Details</h2>

        <div>
            <h4>schemaOccasion</h4>
            <hr />

            <h2>@Html.DisplayFor(model => model.name_for_schemaoccasion) </h2>
            <dl class="dl-horizontal">


                <dt>
                    Innehåll
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.startTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.startTime).ToString().Substring(0,10)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.endTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.endTime).ToString().Substring(0, 10)
                </dd>

            </dl>

            <h3>Inlämningsuppgift</h3>
            <table>
                <tr>
                    <th>File Name</th>
                    <th>Link</th>
                </tr>
                @if (filer != null) { 
                for (var i = 0; i <= filer.Count - 1; i++)
                { 
                    <tr>
                        <td>
                            @filer[i].ToString()
                        </td>
                        <td>
                            @Html.ActionLink("Download", "Download", new { fileName = @filer[i].ToString() })
                        </td>
                    </tr>
                }
                }
            </table>






        </div>
        @if (Request.IsAuthenticated && User.IsInRole("teacher"))
        {
            <h3>Studenter</h3>
            <table border="1">
                <tr>
                    <td>Student</td>
                    <td>Inlämningar</td>
                    <td>Ladda ned</td>
                    <td>Kommentar</td>
                    
                </tr>
                @for (var i = 0; i <= stasks.Count - 1; i++)
                {
                    <tr><td>@stasks[i].Name</td>
                    <td></td>
                    <td></td>
                    <td></td></tr>

                    for (var j = 0; j < stasks[i].filer.Count; j++)
                    {
                        <tr>
                            <td></td>
                            <td>@stasks[i].filer[j].fileName</td>
                            <td>@Html.ActionLink("Download", "FileDownload", new { id = @stasks[i].filer[j].Id })</td>
                            <td>@using (Html.BeginForm())
                            {<input type="text" size="150" value="@stasks[i].filer[j].TeacherFeedback"  id=@stasks[i].filer[j].Id name=@stasks[i].filer[j].Id />
                             <input type="button" fileid=@stasks[i].filer[j].Id  class ="btnFeedback" value="Spara" /> 
                            }</td>
                            
                        </tr>
                   }
                   /*if(stasks[i].filer.Count==0){
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                   }*/
               } 
            </table>
}
        @if (Request.IsAuthenticated && User.IsInRole("student"))
    {
            <h3>Dina inlämningar</h3>
            
         
                <table border="1">
                    <thead>
                        <tr>
                            <td>Inlämningar</td>
                            <td>Kommentar</td>
                        </tr>
                    </thead>
                    @for (var i = 0; i < stasks.Count; i++)
                    {
                        if (stasks[i].id.Equals(@ViewBag.userId))
                        {
                            for (var j = 0; j < stasks[i].filer.Count; j++)
                            {
                                <tr><td>@stasks[i].filer[j].fileName</td><td>@stasks[i].filer[j].TeacherFeedback</td></tr>
                            }
                        }    
                    }
                </table>
        

         <h3>Ladda upp inlämningsuppgift</h3>
         
            <form action="" method="post" enctype="multipart/form-data">
                <input type="hidden" name="schemaOccasionId" value="@Html.DisplayFor(model => model.Id)" />
                <input type="file" name="file" id="file" /><input type="submit" value="Ladda upp fil"/>
            </form>
    }

        @if (Request.IsAuthenticated && User.IsInRole("teacher")) 
        { 
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
        
<script>
    $( ".btnFeedback" ).click(function() {
        var fileId = $(this).attr("fileid");	
        var feedback = $("#" + fileId).val();
        //alert(feedback);
        
        var dataString="fileId="+fileId+"&feedback="+feedback;
        //alert(dataString);
        var serviceURL = '/schemaOccasions/SaveComment?';
        var key="";
        $.ajax({
            url : serviceURL,
            dataType : 'json',
            type : "POST",
            async : false,
            data : dataString,  
            success : function(response) {
                //key = response["data"];
                alert(response);
            }
        });
    });
</script>