@model LMS.Models.Klass

@{
    ViewBag.Title = "Details";
    List<LMS.Models.User> students = (List<LMS.Models.User>) ViewBag.students;
    List<LMS.Models.User> teachers = (List<LMS.Models.User>)ViewBag.teachers;
   
    }

<h2>Details</h2>

<div>
    <h4>Klass</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
          <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>
    </dl>
</div>
<h3>Lärare</h3>
@foreach (var teacher in teachers) {

    <p>@teacher.Name </p>
}

<h3>Studenter</h3>
@foreach (var student in students) { 

    <p>@student.Name </p>
}

@Html.ActionLink("Schema", "../schemaOccasions/Index", new { id = @Html.DisplayFor(model => model.Id) })
<a href="~schemaOccasions" schema för denna klass</a>

<p>
@if (Request.IsAuthenticated && (User.IsInRole("teacher") || User.IsInRole("admin"))) {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <br/>
}
@Html.ActionLink("Back to List", "Index")
</p>